body{
  /* background-color:#009E9B; */
  background-color:#DBDCD3;
  padding-left:25px;
}
.grid-container{
  display:grid;
  grid-template-columns:auto auto auto;
  padding:10px;
}
.review{
  padding:10px;
}
#intro{
  background-color:#fff;
  padding-left:10px;
}
