<acme-navbar></acme-navbar>
<div class='container'>
  <h1>New Quote</h1>
  <form class='form-horizontal'>
    <div class='row'>
      <section class='col-md-9' ng-hide='form.personInfo'>
        <div class='form-group'>
          <label class='form-control-label'>Dogs Name:</label>
          <input type='text' ng-model='form.dog.name' class='form-control' autofocus>
        </div>
        <div class='form-group'>
          <label class='form-control-label'>Email:</label>
          <input type='email' ng-model='form.dog.email' class='form-control'>
        </div>
        <div class='form-group'>
          <label class='form-control-label'>State: <span title='All Dogs must reside in the same state. If you have dogs that reside in different states please complete seperate quotes' class='fa fa-question'></span></label>
          <select ng-model='form.dog.state' class='form-control' ng-options='items for items in form.states'>
            <option value='' selected disabled>Please Choose...</option>
          </select>
        </div>
        <button class='btn btn-default' ng-click='form.Next(dog, "di")'>Next</button>
      </section>
    </div>
    <section ng-show='form.dogInfo'>
      <div class='form-row'>
        <div class='form-group col-md-5'>
          <label class='form-control-label'>What Color is {{form.dog.name | uppercase}}:</label>
          <input class='form-control' ng-model='form.dog.color' type='text'>
        </div>
        <div class='form-group col-md-5'>
          <label class='form-control-label'>What is {{form.dog.name | uppercase}}'s Weight:</label>
          <div class='input-group'>
            <input type='number' class='form-control' aria-label='Dogs Weight' aria-describeby='basic' ng-model='form.dog.weight'>
            <div class='input-group-append'>
              <span class='input-group-text' id='basic'>LBs</span>
            </div>
          </div>
        </div>
        <div class='form-group col-md-5'>
          <label class='form-control-label'>What Breed is {{form.dog.name | uppercase}}:</label>
          <select class='form-control' ng-model='form.dog.breed' ng-options='item for item in form.breeds'>
            <option value='' selected disabled>Please Choose...</option>
          </select>
        </div>
        <div class='form-group col-md-5'>
          <label class='form-control-label'>Where does {{form.dog.name | uppercase}} Sleep:</label>
          <select ng-model='form.dog.sleep' class='form-control'>
            <option value='' selected disabled>Please Choose...</option>
            <option value='Inside'>Inside Home</option>
            <option value='Garage'>Garage</option>
            <option value='Loosed Fenced'>Outside loose in fenced yard</option>
            <option value='Without Restraints'>Outside without any restraints</option>
            <option value='Permanent Outside'>Permanent outside kennel</option>
            <option value='Tied Out'>Tied Out</option>
          </select>
        </div>
        <div class='form-group col-md-5'>
          <label class='form-control-label'>Where does {{form.dog.name | uppercase}} go for relef/potty most of the time:</label>
          <select class='form-control' ng-model='form.dog.bathroom'>
            <option value='' selected disabled>Please Choose...</option>
            <option value='Inside Fenced'>Inside a completely fenced yard or kennel</option>
            <option value='Underground System'>Underground electric dog containment system</option>
            <option value='Outside Loose'>Outside loose in unfenced yard</option>
            <option value='Permanently Tied'>Permanently Tied/teathered outside</option>
            <option value='Line'>On tie line 1 hour or less at a time</option>
            <option value='Leashed Walked'>Leashed Walked</option>
          </select>
        </div>
        <div class='form-group col-md-5'>
          <label class='form-control-label'>What Gender is {{form.dog.name | uppercase}}:</label>
          <select ng-model='form.dog.gender' class='form-control'>
            <option value='' selected disabled>Please Choose...</option>
            <option value='Male'>Male</option>
            <option value='Female'>Female</option>
          </select>
        </div>
        <div class='form-group col-md-5'>
          <label class='form-control-label'>Has {{form.dog.name | uppercase}} ever been involved with Animal Services:</label>
          <select class='form-control' ng-model='form.dog.animalServices'>
            <option value='' selected disabled>Please Choose...</option>
            <option value='Never'>Never</option>
    </section>
  </form>
</div>
<acme-footer></acme-footer>
