<acme-navbar></acme-navbar>
<div class='container'>
  <h1>New Quote</h1>
  <form name='DogForm' class='form-horizontal' nonvalidate>
    <div class='row'>
      <div class='col-3'>
        <ul class='list-group'>
          <li class='list-group-item active'>Add Dogs</li>
          <li class='list-group-item'>Applicant Info</li>
          <li class='list-group-item'>Add Insureds</li>
          <li class='list-group-item'>View Quote</li>
          <li class='list-group-item'>Purchase Policy</li>
        </ul>
      </div>
      <section class='personInfo col-9' ng-hide='form.personInfo'>
        <div class='form-group'>
          <label class='form-control-label'>Dogs Name:</label>
          <input class='form-control' type='text' placeholder='Dogs Name' ng-model='Dog.name' required>
        </div>
        <div class='form-group'>
          <label class='form-control-label'>Email:</label>
          <input class='form-control' type='email' placeholder='Email' ng-model='Dog.email' required>
        </div>
        <div class='form-group'>
          <label class='form-control-label'>State: <span title='All Dogs must reside in the same state. If you have dogs that reside in different states please complete seprate quotes' class='fa fa-question'></span></label>
          <select ng-model='Dog.state' class='form-control' ng-options='items for items in form.states' required>
            <option value='' selected disabled>Please Choose...</option>
          </select>
        </div>
        <button class='btn btn-default' type='button' ng-click='form.Next(Dog, "dg")'>Next</button>
      </section>

      <section class='dogInfo' ng-show='form.dogInfo'>
        <div class='form-group'>
          <label class='form-control-label'>What BREED is {{Dog.name | uppercase}}:</label>
          <select class='form-control' ng-model='Dog.breed' ng-options='item for item in form.breeds' required>
            <option value='' selected disabled>Please Choose...</option>
          </select>
        </div>

        <div class='form-group'>
          <label class='form-control-label'>What COLOR is {{Dog.name | uppercase}}:</label>
          <input class='form-control' type='text' ng-model='Dog.color' required>
        </div>

        <div class='form-group'>
          <label class='form-control-label'>What is {{Dog.name | uppercase}}'s WEIGHT:</label>
          <input class='form-control' type='number' min='1' ng-model='Dog.weight' required>
        </div>

        <div class='form-group'>
          <label class='form-control-label'>Where does {{Dog.name | uppercase}} go for relef/potty most of the time:</label>
          <select class='form-control' ng-model='Dog.bathroom' required>
            <option value='' selected disabled>Please Choose...</option>
            <option value='Inside Fenced'>Inside completely enclosed fenced area</option>
            <option value='Underground Containment'>Underground electric dog containment system</option>
            <option value='Outside Loose'>Outside loose in unfenced yard</option>
            <option value='Permanently Tied'>Permanently Tied/Teathered Outside</option>
            <option value='Leash'>Leashed Walked</option>
          </select>
        </div>

        <div class='form-group'>
          <p>Is {{Dog.name | uppercase}}:</p>
          <div class='form-check form-check-inline'>
            <input class='form-check-input' type='radio' name='gender' id='female' value='Female' ng-model='Dog.gender' required>
            <label class='form-check-label' for='female'>Femail</label>
          </div>
          <div class='form-check form-check-inline'>
            <input class='form-check-input' type='radio' name='gender' id='male' value='Male' ng-model='Dog.gender' required>
            <label class='form-check-label' for='male'>Male</label>
          </div>
        </div>

        <div class='form-group'>
          <label class='form-control-label'>Where does {{Dog.name | uppercase}} SLEEP:</label>
          <select class='form-control' ng-model='Dog.sleep' required>
            <option value='' selected disabled>Please Choose...</option>
            <option value='Inside'>Inside</option>
            <option value='Garage'>Garage</option>
            <option value='Loosed Fenced'>Outside losse in fenced yard</option>
            <option value='Without Restraints'>Ouside loose in fenced yard</option>
            <option value='Permanent Outside'>Permanent Outside</option>
            <option value='Tied'>Tied Out</option>
          </select>
        </div>

        <div class='form-group'>
          <p>Is {{Dog.name | uppercase}} current on licenses, vaccinations and other such requirments in your area: <span title='These are laws where you live that require certain vaccinations, tags, or registration. If compliance depends on this insurance check yes.' class='fa fa-question'></span></p>
          <div class='form-check form-check-inline'>
            <input class='form-check-input' type='radio' name='vaccinations' id='yVaccinations' value='Yes' ng-model='Dog.vaccinations' required>
            <label class='form-check-label' for='yVaccinations'>Yes</label>
          </div>
          <div class='form-check form-check-inline'>
            <input class='form-check-input' type='radio' name='vaccinations' id='nVaccinations' value='No' ng-model='Dog.vaccinations' required>
            <label class='form-check-label' for='nVaccinations'>No</label>
          </div>
        </div>

        <div class='form-group'>
          <p>Do you take {{Dog.name | uppercase}} to off leash dog parks:</p>
          <div class='form-check form-check-inline'>
            <input class='form-check-input' type='radio' name='parks' value='Yes' id='yParks' ng-model='Dog.parks' required>
            <label class='form-check-label' for='yParks'>Yes</label>
          </div>
          <div class='form-check form-check-inline'>
            <input class='form-check-input' type='radio' name='parks' value='No' id='nParks' ng-model='Dog.parks' required>
            <label class='form-check-label' for='nParks'>No</label>
          </div>
        </div>

        <div class='form-group'>
          
      </section>
    </div>
  </form>
</div>
<acme-footer></acme-footer>
