<acme-header></acme-header>
<div class='container'>
  <h2>Please choose your coverage limit, premium for your annual policy</h2>
  <small>NOTE: Installments are always billed on the 3rd day of the month.</small>
  <table class='table'>
    <thead>
      <tr>
        <th>Coverage Limit</th>
        <th>Total</th>
        <th># Installments</th>
        <th>Down Payments</th>
        <th>Installment Amount</th>
        <th>First Bill</th>
        <th>Select coverage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='install in insurance.Coverage'>
        <td>{{install.limit | currency}}</td>
        <td>{{install.total | currency}}</td>
        <td>{{install.installments}}</td>
        <td>{{install.firstBill | currency}}</td>
        <td>
          <button class='btn btn-success' ng-click='insurance.Total($index, install)'>Buy</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class='container'>
  <h1>{{insurance.title}}</h1>
  <div class='progress'>
    <div class='progress-bar progress-bar-striped' ng-style="{'width':insurance.currentPercentage + '%'}" role='progressbar'>
      <span>{{insurance.currentPercentage}}% Complete</span>
    </div>
  </div>
  <section ng-hide='insurance.calculate'>
    <h2>Please choose your coverage limit, premium for your annual policy</h2>
    <small>NOTE: Installments are always billed on the 3rd day of the month.</small>
    <table class='table'>
      <thead>
        <tr>
          <th>Coverage Limit</th>
          <th>Total</th>
          <th># Installments</th>
          <th>Down Payments</th>
          <th>Installment Amount</th>
          <th>First Bill</th>
          <th>Select Coverage</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='install in insurance.Coverage'>
          <td>{{install.limit | currency}}</td>
          <td>{{install.total | currency}}</td>
          <td>{{install.installments}}</td>
          <td>{{install.downPayments | currency}}</td>
          <td>{{install.installmentAmount | currency}}</td>
          <td>{{install.firstBill}}</td>
          <td>
            <button class='btn btn-success' ng-click='insurance.Total($index, install)'>Buy</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section ng-show='insurance.application'>
    <form>
      <div class='form-row'>
        <div class='form-group col-md-6'>
          <label class='form-control-label'>Applicant's First Name:</label>
          <input type='text' class='form-control' ng-model='insurance.application.fName' placeholder='First Name'>
        </div>
        <div class='form-group col-md-6'>
          <label class='form-control-label'>Applicant's Last Name:</label>
          <input type='text' class='form-control' ng-model='insurance.application.lName' placeholder='Last Name'>
        </div>
      </div>

      <div class='form-row'>
        <div class='form-group col-md-6'>
          <label class='form-control-label'>First Name of your spouse, signifigant other or roommate:</label>
          <input type='text' class='form-control' ng-model='insurance.application.spouseFirst' placeholder='First Name'>
        </div>
        <div class='form-group col-md-6'>
          <label class='form-control-label'>Last Name of your spouse, sigifigant other or roommate:</label>
          <input type='text' class='form-control' ng-model='insurance.application.spouseLast' placeholder='Last Name'>
        </div>
      </div>

      <div class='form-group'>
        <label class='form-control-label'>Address:</label>
        <input type='text' class='form-control' ng-model='insurance.application.address' placeholder='123 Main St.'>
      </div>
      <div class='form-group'>
        <label class='form-control-label'>Address 2:</label>
        <input type='text' class='form-control' ng-model='insurance.application.address2' placeholder='Apartment, studio, or floor'>
      </div>
      <div class='form-row'>
        <div class='form-group col-md-6'>
          <label class='form-control-label'>City:</label>
          <input type='text' class='form-control' ng-model='insurance.application.city'>
        </div>
        <div class='form-group col-md-4'>
          <label class='form-control-label'>State:</label>
          <select class='form-control' ng-model='insurance.application.state' ng-options='item for item in insurance.states'>
            <option value='' selected disabled>Please Choose...</option>
          </select>
        </div>
        <div class='form-group col-md-2'>
          <label class='form-control-label'>Zip:</label>
          <input type='number' class='form-control' ng-model='form.application.zip'>
        </div>
      </div>
      <div class='form-group'>
        <label class='form-control-label'>Do your dog(s) live at the mailing address? <span title="We must have a physical address other than a P.O. Box to file taxes" class='fa fa-question' ng-click='insurance.alert("We must have a physical address other than a P.O. Box to file taxes")'></span></label>
        <label class='radio-inline'><input type='radio' name='dogAddress' value='Yes' ng-model='insurance.application.dogMailingAddress'> Yes</label>
        <label class='radio-inline'><input type='radio' name='dogAddress' value='No' ng-model='insurance.application.dogMailingAddress'> No</label>
      </div>
      <div ng-if='insurance.application.dogMailingAddress === "No" ? true : false'>
        <div class='form-group'>
          <label class='form-control-label'>Dog's Address:</label>
          <input type='text' class='form-control' ng-model='insurance.application.dogAddress' placeholder='1234 Main St.'>
        </div>
        <div class='form-group'>
          <label class='form-control-label'>Dog's Address 2:</label>
          <input type='text' class='form-control' ng-model='insurance.application.dogAddress2' placeholder='Apartment, studio, or floor'>
        </div>
        <div class='form-row'>
          <div class='form-group col-md-6'>
            <label class='form-control-label'>Dog's City:</label>
            <input type='text' class='form-control' ng-model='insurance.application.dogCity'>
          </div>
          <div class='form-group col-md-4'>
            <label class='form-control-label'>Dog's State:</label>
            <select class='form-control' ng-model='insurance.application.dogState' ng-options='item for item in insurance.states'>
              <option value='' selected disabled>Please Choose...</option>
            </select>
          </div>
          <div class='form-group col-md-2'>
            <label class='form-control-label'>Dog's Zip:</label>
            <input type='number' class='form-control' ng-model='insurance.application.dogZip'>
          </div>
        </div>
        <div class='form-group'>
          <label class='form-control-label'>Please give a reason why the dog(s) do not live at the mailing address:</label>
          <textarea class='form-control' ng-model='insurance.application.dogReason' rows='10' cols='30'></textarea>
        </div>
      </div>
      <div class='form-row'>
        <div class='form-group col-md-4'>
          <label class='form-control-label'>Phone Number:</label>
          <input type='number' class='form-control' ng-model='insurance.application.phone'>
        </div>
        <div class='form-group col-md-4'>
          <label class='form-control-label'>Fax Number:</label>
          <input type='number' class='form-control' ng-model='insurance.application.fax'>
        </div>
        <div class='form-group col-md-4'>
          <label class='form-control-label'>Requested Effective Date:</label>
          <input type='date' class='form-control' ng-model='insurance.application.date'>
        </div>
      </div>
    </section>
  </form>
</div>
<acme-footer></acme-footer>
