@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
body{
  font-family:'Montserrat';
  font-weight:400;
  /* background-color:#81d4fa; */
  background-color:#e1f5fe;
}
h1{
  color:#0099cc;
}
h2{
  font-weight:bold;
  font-size:1.5em;
}
ul{
  list-style-type:none;
}
.navbar{
  background-color:#33b5e5 !important;
}
.navbar-brand{
  color:#fff !important;
}
.nav-item{
  color:#fff !important;
}
header .fa{
  color:#333;
}
.title{
  height:100vh;
}
span{
  cursor:pointer;
}
input[type='radio'], input[type='button']{
  cursor:pointer;
}
.boldText{
  color:#777;
  font-weight:bold;
}
.shortFooter{
  position:absolute;
  bottom:0;
  width:100%;
}
footer h5{
  color:darkblue;
}
footer{
  background-color:#33b5e5;
  color:#fff;
  padding-top:20px;
}
.bottomSection{
  background-color:#0099cc;
}
footer h6{
  font-weight:bold;
}
h5{
  text-align:center;
}
.form-control-label{
  /* color:#33b5e5; */
  color:#0099cc;
  font-weight:400;
}
.main{
  margin-top:8%;
  border:1px solid gray;
  padding:10px;
  box-shadow:5px 10px 8px #888888;
}
.main button{

}
.container{
  background-color:#fff;
}
.progress{
  margin-bottom:20px;
}
/* .form{
  margin-top:10%;
  margin-bottom:10%;
  border:1px solid #888888;
  padding:10px;
  box-shadow:5px 10px 8px 10px #888888;
} */
