<div class="main-container">
  <header class='header'>
    <nav class='navbar navbar-expand-lg navbar-light br-light'>
      <a class='navbar-brand' ng-click="click('home')">Dog Liability Insurance</a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
        <div class='navbar-nav'>
          <a class='nav-item nav-link' ng-click="click('quote')"><i class='fa fa-plus-circle'></i> New Quote</a>
          <a class='nav-item nav-link' ng-click="click('about')"><i class='fa fa-paw'></i> About</a>
          <a class='nav-item nav-link' ng-click="click('questions')"><i class='fa fa-question-circle'></i> F.A.Q.</a>
          <a class='nav-item nav-link' href='tel:855534695'><i class='fa fa-phone-square'></i> 855.534.6495</a>
        </div>
      </div>
    </nav>
  </header>
  <main class="main">
    <fountain-title ng-hide='home'></fountain-title>
    <fountain-form ng-show='quote'></fountain-form>
    <fountain-terms ng-show='terms'></fountain-terms>
    <fountain-questions ng-show='questions'></fountain-questions>
    <fountain-about ng-show='about'></fountain-about>
    <fountain-privacy ng-show='privacy'></fountain-privacy>
  </main>
  <footer>
    <div class='container-fluid text-center'>
      <div class='row'>
        <div class='col-md-6'>
          <h5 class='text-uppercase'>Footer Content</h5>
          <h6 class='text-uppercase'>Dean Insurance Agency</h6>
          <address>
            230 N. Westmonete Drive <br>
            Suite 2100 <br>
            Altamonte Springs, FL 32714 <br>
            Phone: 800.721.3326 or <br>
            407.865.7477, ext 101 <br>
            Fax: 407.865.7556
          </address>
        </div>

        <div class='col-md-6'>
          <h5 class='text-uppercase'>Links</h5>
          <ul class='list-unstyled'>
            <li><a ui-sref='home' ng-click='top("home")'>Home</a></li>
            <li><a ui-sref='about' ng-click='top("about")'>About</a></li>
            <li><a ui-sref='questions' ng-click='top("questions")'>F.A.Q.</a></li>
            <li><a ui-sref='privacy' ng-click='top("privacy")'>Privacy Policy</a></li>
            <li><a ui-sref='quotes' ng-click='top("quotes")'>Quote</a></li>
            <li><a ui-sref='terms' ng-click='top("terms")'>Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class='container-fluid text-center'>
      &copy; 2018 Dean Insurance Agency
    </section>
  </footer>
</div>
