@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body{
  font-family:'Montserrat';
  margin:0;
  height:100%;
  font-weight:300;
}
.navbar{
  /* background-color:#98eefb !important; */
  background-color:#d8eefb !important;
}
.navbar-brand{
  color:#333 !important;
}
.nav-item{
  color:#333 !important;
}
span{
  cursor:pointer;
}
input[type='radio']{
  cursor:pointer;
}
.blueLine{
  display:block;
  margin-top:.5em;
  margin-bottom:.5em;
  margin-left:auto;
  margin-right:auto;
  border-style:inset;
  border-width:2px;
  border-color:blue;
}
.blackLine{
  display:block;
  margin-top:.5em;
  margin-bottom:.5em;
  margin-left:auto;
  margin-right:auto;
  border-style:inset;
  border-width:2px;
  border-color:#333;
}
