@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body{
  font-family:'Montserrat';
  margin:0;
  font-weight:300;
  min-height:100%;
}
h1{
  color:#0099cc;
}
h2{
  font-weight:bold;
  font-size:1.5em;
}
.navbar{
  /* background-color:#98eefb !important; */
  /* background-color:#d8eefb !important; */
  background-color:#33b5e5 !important;
}
.navbar-brand{
  /* color:#333 !important; */
  color:#fff !important;
}
.nav-item{
  /* color:#333 !important; */
  color:#fff !important;
}
header .fa{
  color:#333;
}
.title{
  height:100vh;
}
span{
  cursor:pointer;
}
input[type='radio']{
  cursor:pointer;
}
ul{
  list-style-type:none;
}
.boldText{
  color:#777;
  font-weight:bold;
}
footer  h5{
  color:darkblue;
}
footer{
  background-color:#33b5e5;
  color:#fff;
  padding-top:20px;
}
.bottomSection{
  background-color:#0099cc;
}
footer h6{
  font-weight:bold;
}
h5{
  text-align:center;
}
